# Arquivos de ambiente com dados sensíveis
.env

# Dependências
node_modules/
package-lock.json
yarn.lock

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Diretórios de IDE/editores
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Arquivos de cobertura de testes
coverage/

# Arquivos temporários
tmp/
temp/
